.banner_section {
  position: relative;
  margin-bottom: 70px;
  .swiper-pagination-bullet {
    background: #fff !important;
    opacity: 0.6;
  }
  .swiper-pagination-bullet-active {
    background: #fff !important;
    opacity: 1;
  }
  .swiper-button-next,
  .swiper-button-prev {
    background: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    color: #000;
    transition: all 0.3s ease;

    &:after {
      font-size: 18px;
      font-weight: bold;
    }

    &:hover {
      background: #000;
      color: #fff;
    }
  }

  .swiper-slide {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: -1;
    }

    &.slide1::before {
      background-image: url('/Images/banner_image.jpg');
    }

    &.slide2::before {
      background-image: url('/Images/banner_imagetwo.jpg');
    }
  }

  .inner_area {
    padding: 40px 20px;

    display: flex;
    align-items: center;
    gap: 20px;

    .content {
      width: 750px;

      .text_area {
        padding: 20px 40px;
        background-color: rgb(44, 62, 80);
        color: white;
        border-radius: 12px;
        .heading {
          font-size: 42px;
          .s {
            color: rgb(103, 121, 176);
          }

          .desc {
            font-size: 22px;
          }
        }
        .buy_area {
          margin-top: 20px;
          a {
            padding: 8px 15px;
            background-color: blueviolet;

            color: white;
            border-radius: 15px;
            text-decoration: none;

            font-size: 18px;

            &:hover {
              color: blueviolet;
              background-color: white;
            }
          }
        }
      }
    }

    .card_area {
      width: calc(100% - 750px);
      color: white;

      .video_area {
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 20px;
      }
    }
  }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px) {
  .banner_section {
    .inner_area {
      min-height: 500px;

      .content {
        width: 600px;
      }
      .card_area {
        width: calc(100% - 600px);
      }
    }
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .banner_section {
    .inner_area {
      min-height: 450px;

      .content {
        width: 500px;
        .text_area {
          .heading {
            font-size: 30px;
          }
          .desc {
            font-size: 16px;
          }
        }
      }
      .card_area {
        width: calc(100% - 500px);
      }
    }
  }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
  .banner_section {
    .inner_area {
      min-height: 400px;

      .content {
        width: 360px;
        .text_area {
          .heading {
            font-size: 30px;
          }
          .desc {
            font-size: 16px;
          }
        }
      }
      .card_area {
        width: calc(100% - 360px);
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
  .banner_section {
    .inner_area {
      min-height: 380px;

      display: block;
      .content {
        width: 100%;
        margin-bottom: 20px;
        .text_area {
          .heading {
            font-size: 30px;
          }
          .desc {
            font-size: 16px;
          }
        }
      }
      .card_area {
        width: 100%;
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
  .banner_section {
    .inner_area {
      min-height: 350px;

      display: block;
      .content {
        width: 100%;
        margin-bottom: 20px;
        .text_area {
          .heading {
            font-size: 25px;
          }
          .desc {
            font-size: 14px;
          }

          .buy_area {
            margin-top: 20px;
            a {
              padding: 5px 12px;
              font-size: 16px;
            }
          }
        }
      }
      .card_area {
        width: 100%;
      }
    }
  }
}

/* Smaller phones */
@media (max-width: 360px) {
  .banner_section {
    .inner_area {
      min-height: 320px;

      display: block;
      .content {
        width: 100%;
        margin-bottom: 20px;
        .text_area {
          .heading {
            font-size: 25px;
          }
          .desc {
            font-size: 14px;
          }

          .buy_area {
            margin-top: 20px;
            a {
              padding: 5px 12px;
              font-size: 16px;
            }
          }
        }
      }
      .card_area {
        width: 100%;
      }
    }
  }
}

/* Very small phones */
@media (max-width: 320px) {
  .banner_section {
    .inner_area {
      min-height: 300px;

      display: block;
      .content {
        width: 100%;
        margin-bottom: 20px;
        .text_area {
          .heading {
            font-size: 25px;
          }
          .desc {
            font-size: 14px;
          }

          .buy_area {
            margin-top: 20px;
            a {
              padding: 5px 12px;
              font-size: 16px;
            }
          }
        }
      }
      .card_area {
        width: 100%;
      }
    }
  }
}
